

<h1>Overview of the Party Guests</h1>
<br />
<h1>Total Guests : @TempData.Peek("TotalVisitors")</h1>
<h1>Total Family Members : @TempData.Peek("IsFamily")</h1>

<h1>Youngest guest Age : @TempData.Peek("MinAge")</h1>

<h1>Oldest guest Age : @TempData.Peek("MaxAge")</h1>
